.App {
  text-align: center;
  background-image: linear-gradient(turquoise,navy);
}

.card{
  margin:2rem auto 2rem;
}

#main{
 display: inline-block;
}

#footer{
  color:antiquewhite;
}

#h1{
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: bold;
}

#h3{
  font-size: 2rem;
}

#url{
  height: 286px;
}

form{
  text-align: center;
  margin: 2rem 25% 2rem;
  background-color: aliceblue;
  padding: 2rem;
  border-radius: .25rem;
}

#form-label{
  font-size: 24px;
  margin-bottom: 2rem;
}
